.dead-blue {
   background-color: #151122 !important;
}

.dead-blue-text {
   color: #151122 !important;
}

.dead-blue-light {
   background-color: #8A8891 !important;
}

.dead-blue-light-text {
   color: #8A8891 !important;
}
.dead-blue-clear {
   background-color: #C4C3C7 !important;
}

.dead-blue-clear-text {
   color: #C4C3C7 !important;
}