.splashFullHeight {
   height: 100vh;
   background-image: url(./images/Lifeless.png);
   background-size: cover;
   background-position: center bottom;
   image-rendering: pixelated;
   background-repeat: no-repeat;
   
   .container {
      flex-direction: column !important;
      position: relative;
      height: 100%;
      .tlfContainer {
         padding-top: 6.7vh;
         position: absolute;
         top: 0;
         right: 0;
         left: 0;
         margin: auto;
      }
   }

   
   // .lifeless-container {
   //    position: absolute;
   //    top: 0;bottom: 0;left: 0;right: 0;
   //    margin: auto;
   // }
}
