.navbar {
   background-color: rgba(255, 255, 255, 0.02);
   border-bottom: solid 1px #262232;
   height: 62px;
   line-height: 62px;
   color: #A09FA6;
   ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      height: 100%;
      li {
         color: #A09FA6;
         transition: color 300ms;
         display: inline-block;
         list-style-type: none;
         padding: 0;
         a {
            padding: 0 15px;
            display: block;
            i {
               vertical-align: sub;
            }
         }
         &.active, &:hover {
            color: #FFFFFF;
         }
         &.active {
            a {
               position: relative;
               &::after {
                  content: "";
                  height: 3px;
                  background-color: #D5D5D7;
                  width: calc(100% - 28px);
                  position: absolute;
                  bottom: 1px;
                  left: 0;
                  right: 0;
                  margin: auto;
               }
            }
         }
         &:first-child {
            margin-left: -15px;
         }
      }
   }
}
