@import '~/components/Ceres/ceres.scss';

*:focus {
   outline: none;
}

button {
   background: transparent;
   border: none;
   cursor: pointer;
}

.switch-wrapper {
   position: relative;
 }
  
 .switch-wrapper > div {
   position: absolute;
   width: 100%;
 }
