@import '~/components/Ceres/ceres.scss';

*:focus {
   outline: none;
}

button {
   background: transparent;
   border: none;
   cursor: pointer;
}

.ReactModal__Overlay {
   opacity: 0;
   transition: opacity 300ms ease-in-out;
   &--after-open {
      opacity: 1;
   }
   &--before-close {
      opacity: 0;
   }
}

.ReactModal__Content {
   top: 55% !important;
   transition: top 300ms ease-in-out;

   &--after-open {
      top: 50% !important;
   }
   &--before-close {
      top: 55% !important;
   }
}
